
/* Color palette 📌
--------------------------------------------------------------*/ 
:root {
  --pure-white: #ffffff;
  --light-gray: #D3D3D3;
  --primary-color: #1379a8;;
  --secondary-color: #014b6e;
  --tertiary-color: #6f7180;
  --background-color: #f5f8fd;
  --lighten-shade: #e4edf9;
  --darken-shade: #050d18;
  --gradient-start: #042e5f;
  --gradient-middle: #05283d;
  --gradient-finish: #063049;
  --lighter-hover: #a6d1e7;
  --darker-hover: #3280a4; 
  --filter-drop-shadow: rgba(19, 121, 168, 0.7);
  --outer-tilebox-shadow: rgba(0, 0, 0, 0.12);
  --transparent-darker-bg: rgba(9, 19, 48, 0.3);
  --transparent-lighter-bg: rgba(157, 182, 255, 0.165);
}
/* Basic Style 📌
--------------------------------------------------------------*/ 
body {
  font-family: "Open Sans", sans-serif;
  color: var(--secondary-color);
}
a {
  color: var(--tertiary-color);
}
a:hover {
  color: var(--primary-color);
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}
p {
  font-size: 15px;
  letter-spacing: 0.005rem;
}
/* Global Header 📌
--------------------------------------------------------------*/ 
#header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  transition: all ease-in-out 0.5s;
  z-index: 9999;
  transition: all 0.5s;
  overflow-y: auto;
  background-image: linear-gradient(var(--gradient-start), var(--gradient-middle), var(--gradient-finish));
}
#main {
  margin-left: 200px;
  transition: margin-left 0.5s ease-in-out;
}
@media (max-width: 1199px) {
  #header {
    left: -300px;
  }
  #main {
    margin-left: 0;
  }
}
#header.mobile-active {
  left: 0;
}
/* Mobile Hamburger 📌
--------------------------------------------------------------*/
.mobile-nav-toggle {
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 9998;
  background: none !important;
  font-size: 20px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
  border: 0.2px solid var(--transparent-darker-bg);
  border-radius: 0.25rem;
}
.mobile-nav-toggle:hover {
  filter: drop-shadow(0 0 10px var(--filter-drop-shadow));
  transition: all 0.4s;
}
.mobile-nav-toggle i {
  color: var(--pure-white);
}
.mobile-nav-active {
  overflow: hidden;
}
.mobile-nav-active #header {
  left: 0;
}
.mobile-nav-active .mobile-nav-toggle i {
  color: var(--pure-white);
}
#menu-line-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  border-radius: 0.25rem;
  transition: all .5s ease-in-out;
  cursor: pointer;
  background: var(--transparent-darker-bg);
}
.burger {
  content: '';
  position: absolute;
  background: var(--lighten-shade);
  height: 1.5px;
  width: 22px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.burger-1 {
  transform: translateY(-6px);
}
.burger-2 {
  transform: translateY(0px);
}
.burger-3 {
  transform: translateY(6px);
}
.change .burger-1{
  transform: rotate(-45deg);
}
.change .burger-2 {
  opacity: 0;
}
.change .burger-3 {
  transform: rotate(45deg);
}
/* Website Logo 📌
--------------------------------------------------------------*/
#logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
#logo-container .logo-svg {
  fill: var(--lighten-shade);
  width: 7rem;
  height: 7rem;
  position: relative;
  padding: 1.5rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  z-index: 999;
}
#logo-container a {
  background: none;
}
#logo-container .logo-svg:hover {
  fill: var(--pure-white);
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.logo-circle {
  border: 1px solid var(--tertiary-color);
  border-radius: 5rem;
  transition: all 0.5s ease-in-out;
}
.logo-circle:hover {
  border: 1px solid var(--primary-color);
  transition: all 0.5s ease-in-out;
  background: var(--transparent-darker-bg);
  transition: color 0.3s ease, background 0.5s ease-in-out;
}
@media (max-width: 440px) {
  #logo-container{
    transform: translateY(30px);
  }
}
/* Side Navigation 📌
--------------------------------------------------------------*/
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu {
  display: flex;
  flex-direction: column;
  height: 75vh;
}
.nav-menu ul {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.nav-menu ul > li:last-child {
  margin-top: auto;
}
.nav-menu ul li {
  margin-bottom: 2px;
}
.nav-links-group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.nav-menu a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--tertiary-color);
  text-align: left;
  padding: 0.6rem;
  margin: 0.5rem;
  transition: color 0.3s ease, background 0.5s ease-in-out;
}
.nav-menu li > a {
  transition: all 0.5s ease;
}
.nav-menu span {
  display: block;
  position: relative;
  margin-left: 0.5rem;
}
.nav-menu a:hover {
  color: var(--background-color);
  background: var(--transparent-darker-bg);
  border-radius: 0.4rem;
}
.nav-menu li:hover > a {
  color: var(--primary-color);
}
.nav-menu .active > a {
  color: var(--background-color);
}
.navbar-icons {
  fill: var(--tertiary-color);
  width: 30px;
  height: 30px;
  margin-left: -0.1rem;
  transition: all 0.5s ease;
}
.nav-menu .active .navbar-icons {
  fill: var(--background-color);
}
.nav-menu a:hover .navbar-icons {
  fill: var(--primary-color);
}
/* Sidebar Swtich 📌
--------------------------------------------------------------*/
.panel-toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
#side-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 4.5rem;
  height: 2.5rem;
  border-radius: 5rem;
  transition: all 0.5s ease 0s;
}
#side-switch:hover {
  background: var(--transparent-darker-bg);
  transition: background 0.5s ease-in-out;
}
.switch-icon {
  width: 25px;
  height: 30px;
  position: relative;
  cursor: pointer;
}
.switch-icon .line {
  display: block;
  height: 1.5px;
  margin: 6px auto;
  border-radius: 2px;
  transition: all 0.4s ease;
}
.switch-icon.menu .line1 {
  width: 60%;
  transform: none;
  background: var(--primary-color);
}
.switch-icon.menu .line2 {
  width: 100%;
  transform: none;
  opacity: 1;
  background: var(--primary-color);
}
.switch-icon.menu .line3 {
  width: 60%;
  transform: none;
  background: var(--primary-color);
}
/* Forward Arrow 📌
--------------------------------------------------------------*/
.switch-icon.arrow-forward .line1 {
  width: 40%;
  background: var(--primary-color);
  transform: rotate(45deg) translate(18px, -12px);
}
.switch-icon.arrow-forward .line2 {
  width: 80%;
  background: var(--primary-color);
  transform: translateX(15px);
}
.switch-icon.arrow-forward .line3 {
  width: 40%;
  background: var(--primary-color);
  transform: rotate(-45deg) translate(18px, 12px);
}
/* Backward Arrow 📌
--------------------------------------------------------------*/
.switch-icon.arrow-backward .line1 {
  width: 40%;
  background: var(--primary-color);
  transform: rotate(-45deg) translate(-18px, -12px);
}
.switch-icon.arrow-backward .line2 {
  width: 80%;
  background: var(--primary-color);
  transform: translateX(-15px);
}
.switch-icon.arrow-backward .line3 {
  width: 40%;
  background: var(--primary-color);
  transform: rotate(45deg) translate(-18px, 12px);
}
/* General Sections 📌
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}
.section-title {
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
  color: var(--primary-color);
  letter-spacing: 0.005rem;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 150px;
  height: 4px;
  background: var(--primary-color);
  bottom: 0;
  left: 0;
}
.section-title p {
  margin-bottom: 0;
}
.section-background {
  background-color: var(--background-color);
}
.section-subtitle {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-color);
  letter-spacing: 0.05rem;
  padding: 0.5rem;
  margin-bottom: -0.025rem;
}
hr {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
/* Hero Background 📌
--------------------------------------------------------------*/
.hero-container {
  padding: 12px;
}
#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("../img/hero-bg.jpg") no-repeat center;
  background-size: cover;
}
#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(7, 69, 86, 0.269); 
  z-index: 1;
}
#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 340px;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 50px;
  font-weight: 550;
  line-height: 56px;
  color: var(--pure-white);
}
#hero h2 {
  margin: 0;
  font-size: 34px;
  font-weight: 500;
  line-height: 50px;
  color: var(--pure-white);
}
#hero p {
  color: var(--pure-white);
  margin-bottom: 40px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
#hero p span {
  color: var(--pure-white);
  padding-bottom: 4px;
  letter-spacing: 0.005rem;
  border-bottom: 4px solid var(--primary-color);
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 40px;
    line-height: 36px;
    font-weight: 600;
  }
  #hero h2 {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
  }
}
/* Profile Depiction 📌
--------------------------------------------------------------*/
#profile-pic {
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  background-color: var(--background-color);
}
.profile-depiction .content ul {
  list-style: none;
  padding: 0;
}
.profile-depiction .content ul li {
  padding-bottom: 10px;
  color: var(--primary-color);
  font-size: 14px;
}
.profile-depiction .content p:last-child {
  margin-bottom: 0;
}
/* Animated Icons 📌
--------------------------------------------------------------*/
#animated-icons .count-box {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#animated-icons .count-box-inner {
  display: flex;
  align-items: center;
}
#animated-icons .big-icon-box {
  margin-right: 10px;
}
#animated-icons .count-box span {
  font-size: 40px;
  font-weight: 600;
  color: var(--primary-color);
  text-align: right;
  margin: 0;
}
.count-box h2 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: var(--secondary-color);
  padding: 5px;
}
.animated-big-icons {
  fill: var(--primary-color);
  width: 60px;
  height: 60px;
}
@media (max-width: 767px) {
  #big-icon-row {
    display: flex;
    flex-wrap: wrap;
  }
  #big-icon-row .col-lg-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .count-box {
    margin-left: 0;
    margin-right: 0;
  }
  .big-icon-box {
    margin-left: auto;
    margin-right: auto;
  }
}
/* Education Qualification 📌
--------------------------------------------------------------*/
#degree {
  margin-bottom: 1rem;
}
.education h4 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.008rem;
  color: var(--primary-color);
  margin-left: 1.5rem;
}
.education h4::before {
  content: '⬩';
  position: absolute;
  color: var(--primary-color);
  left: 0.3rem;
  margin-left: 0.5rem;
}
.education h5 {
  font-size: 16px;
  font-weight: 550;
  color: var(--secondary-color);
  margin-left: 1.5rem;
  margin-bottom: 0.15rem;
  letter-spacing: 0.008rem;
}
.education h6 {
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  position: relative;
  color: var(--primary-color);
  margin-left: 1.5rem;
  margin-bottom: 0.15rem;
  letter-spacing: 0.008rem;
}
/* Credential Certification 📌
--------------------------------------------------------------*/
.certification h4 {
  font-size: 17px;
  font-weight: 550;
  letter-spacing: 0.008rem;
  color: var(--primary-color);
  margin-left: 1.5rem;
  margin-bottom: -0.005rem;
}
.certification h5 {
  font-size: 15px;
  font-weight: 500;
  margin-left: 1.5rem;
  letter-spacing: 0.008rem;
  position: relative;
  display: inline-block;
  color: var(--secondary-color);
}
 .certification h4::before {
  content: '⬩';
  position: absolute;
  left: 0.001rem;
  color: var(--primary-color);
  margin-left: 0.75rem;
}
 .certification h6 {
  font-size: 12px;
  padding-left: 10px;
  letter-spacing: 0.008rem;
  color: var(--primary-color);
  padding-top: 6px;
  margin-left: 12px;
}
 .certification ul a {
  padding: 4px 10px;
  color: var(--primary-color);
  background-color: var(--background-color);
  border-radius: 40px;
  font-size: 12px;
  margin-left: -18px;
  margin-bottom: -4px;
  border: 0.2px solid lightgrey;
}
 .certification ul a:hover {
  color: var(--pure-white);
  background-color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}
/* Professional Employment 📌
--------------------------------------------------------------*/
@media (max-width: 440px) {
  #employment-history{
    margin-top: 2rem;
  }
}
.employment {
  padding: 0 0 24px 0px;
  position: relative;
}
.employment h5 {
  font-size: 14px;
  background: var(--pure-white);
  display: inline-block;
  font-weight: 400;
  border-radius: 40px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  margin-left: 20px;
  margin-top: 5px;
  padding: 5px 12px;
}
.employment h4 {
  font-size: 16px;
  font-weight: 550;
  padding: 0px 4px;
  letter-spacing: 0.008rem;
  margin-top: 2px;
  color: var(--secondary-color);
  margin-left: 20px;
}
.employment h3 {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
  padding: 0px 4px;
  margin-top: 3px;
  margin-left: 20px;
}
.employment:last-child {
  padding-bottom: 0;
}
.connector-line {
  border: 0.9px solid var(--primary-color);
  width: 10px;
  position: absolute;
  left: 9px;
  top: 19px;
  transform: translateY(-50%);
}
.employment::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  top: 14px;
  left: -0.5px;
  background: var(--pure-white);
  border: 1px solid var(--primary-color);
}
.employment::after {
  content: "";
  position: absolute;
  width: 1px;
  height: calc(100% - 4px);
  top: 24px;
  left: 4px;
  background: var(--primary-color);
}
.employment:last-child::after {
  content: "";
  position: absolute;
  width: 1px;
  height: calc(80% - 4px);
  top: 24px;
  left: 4px;
  background: var(--primary-color);
}
/* Achievement & Rewards 📌
--------------------------------------------------------------*/
.achievements li {
  list-style-type: '★';
  padding: 6px 12px;
  color: var(--secondary-color);
  font-size: 12px;
  margin-left: -20px;
  }
.achievements p {
  color: var(--primary-color);
  font-size: 14px;
  margin-bottom: 0px;
  }
  @media (max-width: 440px) {
    #award-stars{
      margin-top: 2rem;
    }
  }
/* Skills & Technique 📌
--------------------------------------------------------------*/ 
.methods-technique .title {
  margin-left: 56px;
  font-weight: 600;
  margin-bottom: 4px;
  font-size: 16px;
  color: var(--primary-color);
  letter-spacing: 0.015rem;
}
.methods-technique .description {
  margin-left: 56px;
  line-height: 20px;
  font-size: 14px;
}
#oval-icon-title {
 margin-top: -80px;
}
.oval-shaped-icons {
  fill: var(--primary-color);
  border: 0.2px solid var(--light-gray);
  border-radius: 100px;
  width: 40px;
  height: 80px;
  background: var(--background-color);
  margin-top: 10px;
  transition: transform 0.3s ease;
}
.oval-shaped-icons:hover {
  transform: scale(1.1);
  background: var(--pure-white);
  transition: transform 0.5s ease;
  filter: drop-shadow(0 0 10px var(--filter-drop-shadow));
}
/* Tools & Technology 📌
--------------------------------------------------------------*/
.softskill-bar {
  margin-top: 3rem;
}
.softskill-bar .progress {
  height: 50px;
  display: block;
  background: none;
}
.softskill-bar .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: none;
  display: block;
  font-weight: 500;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: var(--darken-shade);
}
.softskill-bar .progress .skill .val {
  float: right;
  font-style: normal;
}
.softskill-bar .progress-bar-wrap {
  background: var(--lighter-hover);
}
.softskill-bar .progress-bar {
  width: 1px;
  height: 8px;
  transition: 0.9s;
  background-color: var(--primary-color);
}
/* Apply Filter 📌
--------------------------------------------------------------*/
#portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: var(--background-color);
  border-radius: 50px;
  border: 1px solid var(--lighter-hover);
}
 #portfolio-flters li {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}
 #portfolio-flters li:hover {
  color: var(--background-color);
  background: var(--lighter-hover);
  line-height: 1.2;
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
}
#portfolio-flters li.filter-active {
  color: var(--background-color);
  background: var(--primary-color);
  line-height: 1.2;
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
}
 #portfolio-flters li:last-child {
  margin-right: 0;
}
.portfolio-item {
  margin-bottom: 50px;
}
/* Inside Portfolio 📌
--------------------------------------------------------------*/
.portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 2;
  border: solid 0.5px var(--light-gray);
  border-radius: 0.5rem;
}
.portfolio-wrap::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.portfolio-wrap .portfolio-links {
  opacity: 0;
  left: 0;
  right: 0;
  top: 100%;
  bottom: 0;
  z-index: 2;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-wrap .portfolio-links a {
  color: var(--pure-white);
  font-size: 16px;
  text-align: center;
  background: var(--transparent-darker-bg);
  backdrop-filter: blur(3px);
  transition: backdrop-filter 0.3s ease, transform 0.3s ease;
  transition: 0.3s;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}
.portfolio-wrap .portfolio-links h6 {
  color: var(--background-color);
  filter: drop-shadow(0 0 10px var(--filter-drop-shadow));
  margin-top: 2rem;
  font-size: 18px;
}
.portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}
.portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  top: 0;
}
.portfolio-wrap:hover .portfolio-links a {
  backdrop-filter: blur(3px);
  transform: scale(1.05);
}
.portfolio-wrap:hover img {
  transform: scale(1.05);
}
.portfolio-wrap img {
  transition: transform 0.3s ease-in-out;
}
.portfolio-links a h1 {
  animation: pulse 1s infinite;
  cursor: pointer;
  margin-top: 5rem;
}
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
@media (max-width: 320px) {
  #portfolio-flters {
    display: none;
  }
}
/* Under Portfolio 📌
--------------------------------------------------------------*/
.image-introbox {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}
.title-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.image-title {
  flex: 1;
}
.image-title h6 {
  font-size: 16px;
  color: var(--primary-color);
  margin-top: 18px;
  font-weight: 500;
  letter-spacing: 0.025rem;
}
.card-title {
  display: flex;
}
.reaction-box {
  display: flex;
  align-items: center;
  height: auto;
  margin-top: 10px;
  gap: 0.2rem;
}
.reaction-box span {
  display: flex;
  align-items: center;
}
.smaller-icons {
  fill: var(--primary-color);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 1rem;
}
.smaller-icons:hover {
  fill: var(--lighten-shade);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background: var(--primary-color);
  border-radius: 1rem;
}
.icon-with-tooltip {
  position: relative;
  display: inline-block;
}
.tooltip {
  visibility: hidden;
  background: var(--gradient-finish);
  color: var(--lighten-shade);
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 10;
}
.icon-with-tooltip:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
/* Overlay Portfolio 📌
--------------------------------------------------------------*/
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--transparent-darker-bg);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: auto;
  backdrop-filter: blur(3px);
}
.overlay-content {
  position: relative;
  width: 80%;
  height: 80%;
  display: flex;
  background-color: var(--pure-white);
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--transparent-darker-bg);
  overflow: hidden;
}
.iframe-container {
  width: 100%;
  position: relative;
  object-fit: cover;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
  justify-content: center;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  cursor: pointer;
  color: var(--darker-hover);
  border: 1px solid var(--light-gray);
  border-radius: 50%;
  padding: 12px;
  z-index: 1;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lighten-shade);
}
.close-btn:hover {
  background-color: var(--darker-hover);
  color: var(--pure-white);
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.no-scroll {
  overflow: hidden;
}
.scroll-down p {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  color: var(--primary-color);
  transform: translateX(70%);
  animation: bounce 3s infinite;
  filter: drop-shadow(0 0 10px var(--filter-drop-shadow)); 
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-10px);
  }
  60% {
      transform: translateY(-5px);
  }
}
/* Address Details 📌
--------------------------------------------------------------*/
@media (max-width: 440px) {
  .contact-info{
    margin-top: -2rem;
  }
}
.address-details {
  padding: 20px;
  background: var(--pure-white);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 24px 0 var(--outer-tilebox-shadow);;
}
.text-block {
  padding: 0.25rem;
  display: inline-block;
}
.address-details h4 {
  font-size: 18px;
  font-weight: 550;
  color: var(--secondary-color);
  letter-spacing: 0.05rem;
}
.address-details p {
  font-size: 15px;
  color: var(--primary-color);
  margin-top: -0.2rem;
}
/* Form Submition 📌
--------------------------------------------------------------*/
.form-submition {
  width: 100%;
  padding: 20px 20px 0px 20px;
  background: var(--pure-white);
  box-shadow: 0 0 24px 0 var(--outer-tilebox-shadow);;
}
.form-submition input, .form-submition textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.form-submition input {
  height: 40px;
}
.form-submition textarea {
  padding: 14px;
}
.form-submition input.form-control {
  border-radius: 4px;
}
.form-submition textarea.form-control {
  border-radius: 4px;
}
.form-submition button[type="submit"] {
  background: var(--primary-color);
  border: 0;
  padding: 10px 24px;
  color: var(--pure-white);
  transition: 0.4s;
  border-radius: 4px;
  margin: 10px;
}
.form-submition button[type="submit"]:hover {
  background: var(--primary-color);
}
.sending-message, .confirm-message, .error-message {
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: var(--transparent-darker-bg);
  z-index:9999;
  justify-content:center;
  align-items:center;
  color:var(--pure-white);
  font-size:1.5rem;
  text-align:center;
  padding:2rem;
}
.spinner {
  border: 4px solid var(--transparent-darker-bg);
  border-top: 4px solid var(--pure-white);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: animate-loading 1s linear infinite;
  margin-bottom: 1rem;
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Social Media 📌
--------------------------------------------------------------*/
.connect-me-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 2rem 0;
}
.social-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0;
}
@media (max-width: 440px) {
  .social-links {
    gap: 0.25rem;;
    width: 100%;
    padding: 0.5rem 0;
    justify-content: space-evenly;
  }
}
.social-links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  border-radius: 2rem;
  transition: transform 0.5s ease-in-out;
}
.social-icons {
  width: 45px;
  height: 45px;
  fill: var(--background-color);
  transition: transform 0.5s ease-in-out;
}
.social-links a:hover, .social-icons:hover {
  transform: scale(1.1);
}
/* Copyright Info 📌
--------------------------------------------------------------*/
.copyright {
  display: flex;
  flex: 1;
  padding: 0;
  justify-content: flex-end;
}
.copyright p {
  font-size: 12px;
  text-decoration: none;
  color: var(--tertiary-color);
  text-align: right;
  padding-right: 0.7rem;
  border-right: 1px solid var(--tertiary-color);
}
#last-text {
  transform: translateY(7px);
}
.last-icon {
  width: 50px;
  height: 50px;
  fill: var(--gradient-start);
  transition: transform 0.5s ease-in-out;
  margin-left: 0.7rem;
  transform: translateY(1px);
}
.resume-link a {
  font-size: 12px;
  color: var(--tertiary-color);
  text-decoration: none;
  padding: 0rem;
  border: none;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.resume-link a:hover {
  text-decoration: underline;
  border-color: var(--tertiary-color);
  cursor: pointer;
}
/* Scrolling Arrow 📌
--------------------------------------------------------------*/ 
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  height: 3.5rem;
  width: 2rem;
  border-radius: 1.5rem;
  background: var(--transparent-lighter-bg);
  filter: drop-shadow(0 0 10px var(--filter-drop-shadow));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  padding-bottom: 2px;
}
.scroll-up-icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 4px;
  position: relative;
  cursor: pointer;
}
.scroll-up-icon .line {
  width: 2px;
  border-radius: 2px;
  background-color: var(--secondary-color);
  transition: all 0.5s ease-in-out;
}
.scroll-up-icon .line1, .scroll-up-icon .line3 {
  height: 14px;
}
.scroll-up-icon .line2 {
  height: 24px;
}
.scroll-up-icon:hover .line1 {
  transform: rotate(45deg) translate(-11.5px, -14px);
  height: 13px;
  background-color: var(--primary-color);
}
.scroll-up-icon:hover .line2 {
  transform: translateY(-4px);
  background-color: var(--primary-color);
}
.scroll-up-icon:hover .line3 {
  transform: rotate(-45deg) translate(11.5px, -14px);
  height: 13px;
  background-color: var(--primary-color);
}
/* Global Footer 📌
--------------------------------------------------------------*/
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 220px;
  z-index: 9999;
  padding-bottom: 1rem;
}